* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;
    background-color: #ffffff;
    color:#12304E;
  }
  a {
    text-decoration: none;
    color: #12304E;
  }
  
  header {
    height: 100px;
    background-color: #e9e9e9;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
  }
  header img{
    height: 80px;
  }
 
  main {
    margin: 20px 0;
    padding: 0 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column; 
  }

 
.linha1 {
    width: 100%;
    height: 600px;
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    justify-content: center;
  
    
  }
  .a1{
    width: 50%;
    height: 555px;
    background-color:#e9e9e9;
    border-radius:8px;
    padding: 10px;
    color:#12304E;
    margin-right: 20px;
  }
.a1 .texto{
  margin-top: 20px;
}

.a1 .texto h2{
  margin: 20px 0;
}
.a1 .foto {
  width: 100%;
  height: 300px;
}
.a1 .foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box2 {
  width: 45%;
  height: 555px;
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  gap:20px;
  justify-content: space-between;
  align-items: center;

}
.a2{
    width:100%;
    height: 158px;
    background-color:#e9e9e9 ;
    display: flex; 
  align-items: flex-start;
  border-radius:8px;
  flex-direction: row;
 
  }
  h5, h6 {
    display: block;
    margin: 0.5em 0;
}
.a2 figure {
  width: 25%;
  height: 158px;
  margin-right: 20px;
}
.a2 figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 0 0 5px;
}
.a2 section {
  width: 75%;
  color: #12304E;
}
.a2 section h5 {
  font-size: 20px;
}
.a2 section p {
  font-size: 14px;
}
.banner {
  margin-bottom: 20px;
  width: 100%;
  height: 150px;
  text-align: center;
  font-style: italic;
  background-image: url("assets/img/banner.png");
  border-radius:8px;
}
 
  .bannerAD{
    width: 100%;
    height: 100%;
    display: block;
    margin-top:0;
    margin-left:0;
  }
  .n3{
    display: flex;
    background-color: #ffffff;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .n4 {
    width:100% ;
    height: 200px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    flex-direction: row;
    align-items: center;
  }
  .c1{
    width: 45%;
    height: 160px;
    display: flex;
    background-color:#e9e9e9 ; 
    flex-direction: row; 
    border-radius:8px;
    
  }
  .c1 section, .c2 section {
    padding: 20px;
  }
.c1 section h5, .c2 section h5 {
  font-size: 18px;
}
.c1 section p, .c2 section p {
  font-size: 14px;
}
  .c2{
    width: 45%;
    height: 160px;
    display: flex;
    background-color:#e9e9e9  ; 
    flex-direction: row; 
    border-radius:8px;

  }

  footer {
    background-color: #12304E;
    color: #e9e9e9;
    text-align: center;
    padding: 10px;
    font-style: italic;
  }